.btn{
  width: auto;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 1px solid #131128;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  outline: 0 !important;
}